@import './_variables.scss';
// Media Breakpoints
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpoingXLg: 1200px;
@mixin --viewportSm {
  @media (min-width: $breakpointSm) {
    @content;
  }
}

@mixin --viewportMd {
  @media (min-width: $breakpointMd) {
    @content;
  }
}

@mixin --viewportLg {
  @media (min-width: $breakpointLg) {
    @content;
  }
}
