@import './variables.scss';

.portfolio__container {
  overflow: hidden;
  padding-bottom: 2.5rem;
}
.portfolio__content {
  padding: 0 1.5rem;
  align-self: center;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.portfolio__title {
  font-size: $h3-font-size;
  margin-bottom: $mb-0-5;
  align-self: start;
}
.portfolio__category {
  color: $text-color-light;
}
.portfolio__description {
  margin-bottom: $mb-0-75;
}
.portfolio__button {
  align-self: center;
  justify-self: center;
}
.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  // content: '';
  color: $first-color;
  font-size: 1.2rem;
}

.swiper-pagination-bullet-active {
  background-color: $first-color;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

.to-projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: fit-content;
  padding: min(4rem, 10%) min(10rem, 15%);
  margin: 2rem auto 1rem;
  row-gap: 1rem;
  border-radius: 1.5rem;
  background-color: hsl($hue-color, 70%, 96%);
}
@media screen and (min-width: 568px) {
  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__content {
    column-gap: 5rem !important;
  }
}
